.main__results{
    // background: red;
    width: 100%;
}


.section{
    .header{
        position: relative;
        display: none;
        // justify-content: space-between;
        .lolo{
            // justify-self: flex-end !important;
            // i{
            //     // color: red !important;
            //     margin-right: 0 !important;
            // }
            // position: absolute;
            // right: 1.5em;

        }
        @media screen and (min-width: $large) {
            .lolo{
                position: static;
            }
            justify-content: space-between;

        }
    }
    
    .main{
        // background: red;
        display: flex;
        flex-wrap: wrap;
        // align-items: flex-start;
        align-content: flex-start;
        padding-top: 0;
        &__headerCrud{
            width: 100%;
            // background: red;
            height: $heigh-header;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__burguer{
                // color:red;
                cursor: pointer;
                @media screen and (min-width: $large) {
                    display: none;
                }
                
            }

            .lolo{
                // background: red;
                margin: 0;
                // text-align: center !important;

                .icon{
                    margin: 0 !important;
                    @media screen and (min-width: $large) {
                        margin-right: 0.7em !important;
                    }
                }

                .texto{
                    display: none;
                    .address.book.icon{
                    }
                    @media screen and (min-width: $large) {
                        margin-left: 0;
                        display: inline;
                    }
                }
            }
        }

    }

}


.table{
    &__tbody{
        &__tr{
            &__td{
                &--editContainer{
                    // display: flex;
                    // justify-content: space-around;
                    &__icon.icon{
                        cursor: pointer;
                        // background: #e6f8fc;
                        // table__tbody__tr__td--editContainer__icon
                        // background: red;
                        color: #00bae5;
                        // width: 2.5em;
                        // height: 2.5em;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .lolo{
                        // background: #ffebea;
                        color:#f60f07;
                    }
                }
            }
        }
    }
}