// Variables profe
$rojo: #E54D38;
$gris: #505761;
$verde: #67C16F;
$azul: #157786;

$large: 960px;
$margin-width-master: 250px; // 250px original
$iconSize: 2em;  //14px
$widthAsideIcon: 72.8px;
$padding-x: 4em; // Antes 1.5em original
$padding-y: 1em;
// $heigh-header:4em;
$heigh-header:6em;
$backgroundColor: #F2F7FA; // El color de fondo de .main y .section
// $backgroundColorIconsHover: orangered;
$backgroundColorIconsHover: #0F7B87;
// $iconsColor: #CACFD4;
$iconsColor: rgb(180, 181, 182);
$iconsColorHover: white;
// $menuTextColor: $backgroundColorIconsHover;
$menuTextColor: $iconsColor;
$menuTextColorOnHover: white;
$aIconPaddin: 1em 0;
// $masterColor: orangered;
$masterColor: #0F7B87;
$masterTime:0.5s;


