$large: 960px;
$margin-width-master: 250px; // 250px original
$iconSize: 2em;  //14px
$widthAsideIcon: 72.8px;
$padding-x: 1.5em;
$padding-y: 1em;
$heigh-header:4em;
$backgroundColor: #F2F7FA; // El color de fondo de .main y .section
$backgroundColorIconsHover: orangered;
$iconsColor: #CACFD4;
$iconsColorHover: white;
// $menuTextColor: $backgroundColorIconsHover;
$menuTextColor: $iconsColor;
$menuTextColorOnHover: white;
$aIconPaddin: 1em 0;
$masterColor: orangered;