include mixins/adminHeaderMixin.pug
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        <meta name="csrf-token" content="{{ csrf_token() }}">
    body
        .wrapper
            aside.aside#aside
                .aside__logo
                    <i class="fas fa-bars aside__logo__burguer" id="burguer"></i>
                    .aside__logo__container
                        <i class="fas fa-poo-storm aside__logo__container__logo"></i>
                        h1.aside__logo__container__title GEMINI
                ul.aside__ul#aside__ul
                    //- li.aside__ul__li
                    //-     a(href="" class="aside__ul__li__a") 
                    //-         <i class="fas fa-poo-storm aside__ul__li__a__icon"></i>
                    //-         h3.aside__ul__li__a__title GEMINI
                    //- li.aside__ul__li
                    //-     a(href="" class="aside__ul__li__a") 
                    //-         <i class="fas fa-bars aside__ul__li__a__icon" id="burguer"></i>
                    //-         h3.aside__ul__li__a__title Cerrar
                    li.aside__ul__li
                        a(href="/empresa.html" class="aside__ul__li__a") 
                            <i class="fas fa-city aside__ul__li__a__icon"></i>
                            h3.aside__ul__li__a__title Empresa
                    li.aside__ul__li
                        a(href="/empleados.html" class="aside__ul__li__a") 
                            <i class="fas fa-user-tie aside__ul__li__a__icon"></i>
                            h3.aside__ul__li__a__title Empleados
                    li.aside__ul__li 
                        a(href="/departamentos.html" class="aside__ul__li__a") 
                            <i class="fas fa-mail-bulk aside__ul__li__a__icon"></i>
                            h3.aside__ul__li__a__title Departamentos
                    li.aside__ul__li 
                        a(href="/results.html" class="aside__ul__li__a") 
                            <i class="fas fa-clipboard-list aside__ul__li__a__icon"></i>
                            h3.aside__ul__li__a__title Resultados
                    li.aside__ul__li.aside__ul__li__logout
                        a(href="" class="aside__ul__li__a") 
                            <i class="fas fa-power-off aside__ul__li__a__icon"></i>
                            h3.aside__ul__li__a__title Cerrar Sesion
            .aside-overlay#aside-overlay
            section.section#section
                header.header
                    //- <i class="fas fa-bars header__burguer" id="trigger"></i>
                    block header

                //- Para results.pug no es necesario usar el block en su pug, porque ese se agrega desde el .vue
                main.main#main
                    block main
            block section