extends partials/adminLayout.pug
block header
    +headerTitle('Empleados')
    <button class="ui green button lolo" @click="agregar()"><i class="address book icon"></i>Agregar Empleado</button>
block main
    .main__results#app
        <table class="ui selectable celled table">
            <thead class="table__thead">
                <tr class="table__thead__tr">
                    <th class="table__thead__tr">ID</th>
                    <th class="table__thead__tr">Nombre</th>
                    <th class="table__thead__tr">A. Paterno</th>
                    <th class="table__thead__tr">A. Materno</th>
                    <th class="table__thead__tr">Cargo</th>
                    <th class="table__thead__tr">Jornada</th>
                    <th class="table__thead__tr">Departamento</th>
                    <th class="table__thead__tr">Editar</th>
                </tr>
            </thead>
            <tbody class="table__tbody">
                <tr class="table__tbody__tr">
                    <td class="table__tbody__tr__td">1</td>
                    <td class="table__tbody__tr__td">Hertha</td>
                    <td class="table__tbody__tr__td">Stamm</td>
                    <td class="table__tbody__tr__td">Davis</td>
                    <td class="table__tbody__tr__td">Storage Manager OR Distribution Manager</td>
                    <td class="table__tbody__tr__td">Nocturna</td>
                    <td class="table__tbody__tr__td">Biologia</td>
                    <td class="table__tbody__tr__td table__tbody__tr__td--editContainer">
                        <i class="edit icon icon table__tbody__tr__td--editContainer__icon"></i>
                        <i class="trash icon table__tbody__tr__td--editContainer__icon lolo" @click="eliminar(5)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        //- Modal de Confirmacion de Eliminar Usuario
        <div class="ui mini test modal transition hidden">
            <div class="header">Eliminar Empleado</div>
            <div class="content"><p>Se eliminara al Empleado sin posibilidad de Revertirlo</p></div>
            <div class="actions">
            <div class="ui negative button">No</div>
            <div class="ui positive right labeled icon button">Yes<i class="checkmark icon"></i></div>
            </div>
        </div>

        //- Modal de Agregar Usuario
        <div class="ui modal agregar tiny">
            <i class="close icon"></i>
            <div class="header">Agregar Empleado</div>
            <div class="image content">
                //- form.ui.form(action="shield" method='POST')
                form.ui.form(action="shield" method='POST')
                    <div class="field">
                        <label>Nombre Completo</label>
                        <div class="two fields">
                            <div class="field">
                                <input type="text" name="nombre" placeholder="Nombre/s" class="inputToClean">
                            </div>
                            <div class="field">
                                <input type="text" name="apaterno" placeholder="A. Paterno" class="inputToClean">
                            </div>
                            <div class="field">
                                <input type="text" name="amaterno" placeholder="A. Materno" class="inputToClean">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>Edad</label>
                        <input type="number" placeholder="Coloca la Edad" name="edad" class="inputToClean">
                    </div>
                    <div class="field">
                        <label>Sexo</label>
                        select.ui.search.dropdown.selectToClear(name="sexo")
                            <option value="">Selecciona de Sexo</option>
                            <option value="AF">Masculino</option>
                            <option value="AX">Femenino</option>
                    </div>
                    <div class="field">
                        <label>Email</label>
                        <input type="email" name="email" placeholder="Ingresa un Email" class="inputToClean">
                    </div>
                    <div class="field">
                        <label>Cargo</label>
                        select.ui.search.dropdown.selectToClear(name="cargo")
                            <option value="">Selecciona el Cargo</option>
                            <option value="AF">Masculino</option>
                            <option value="AX">Femenino</option>
                    </div>
                    <div class="field">
                        <label>Jornada</label>
                        select.ui.search.dropdown.selectToClear(name="jornada")
                            <option value="">Selecciona la Jornada</option>
                            <option value="AF">Masculino</option>
                            <option value="AX">Femenino</option>
                    </div>
                    <div class="field">
                        <label>Escolaridad</label>
                        select.ui.search.dropdown.selectToClear(name="escolaridad")
                            <option value="">Selecciona la Escolaridad</option>
                            <option value="AF">Masculino</option>
                            <option value="AX">Femenino</option>
                    </div>
                    <div class="field">
                        <label>Departamento</label>
                        select.ui.search.dropdown.selectToClear(name="departamento")
                            <option value="">Selecciona el Departamento</option>
                            <option value="AF">Masculino</option>
                            <option value="AX">Femenino</option>
                    </div>
                    <div class="ui yellow message">
                        <div class="header">Action Forbidden</div>
                        <p>You can only sign up for an account once with a given e-mail address.</p>
                    </div>
                    <div class="actions">
                        //- button(type="submit" class="ui green button m-0") Agregar
                        //- button(type="submit" class="ui primary submit button") Agregar
                        <div class="ui green submit button m-0">Submit</div>
                        <div class="ui red deny button ml-1">Cancelar</div>
                        //- <div class="ui positive right labeled icon button">Yep, that's me<i class="checkmark icon"></i></div>
                    </div>
            </div>
        </div>