<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .wrapper
            .container
                .title
                    h2 Soy un.....
                .containerOptions
                    a(href="#").containerOptions__tarjeta.containerOptions__tarjeta--empleado
                        .containerOptions__tarjeta__iconContainer
                            i(class="users icon").empleado
                        .containerOptions__tarjeta__titleContainer
                            h2 Empleado
                    a(href="#").containerOptions__tarjeta.containerOptions__tarjeta--admin
                        .containerOptions__tarjeta__iconContainer
                            <i class="wrench icon admin"></i> 
                        .containerOptions__tarjeta__titleContainer
                            h2 Administrador




                    //- a.containerOptions__tarjeta(href="#")
                    //-     .containerOptions__tarjeta__iconContainer
                    //-         <i class="wrench icon"></i> 
                    //-     .containerOptions__tarjeta__title
                    //-         h2 Admin
