@import 'partials/adminLayout';
@import 'partials/crudLayout.scss';

.m-0{
    margin: 0 !important;
}

.ml-1{
    margin-left: 0.5em !important;
}

.ui.form{
    // padding: 1em;
}

.ui.warning.message{
    width: 100%;
    .header{
        background: red;
    }
}