// @import 'partials/adminLayout';

@mixin data-section(){
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    // align-items: center;
    // background: blue;
    width: 11em;
    margin-left: 4em;
    h2{
        margin: 0;
        color: white;
        &.up{
            // color: red;
        }
        &.down{
            margin-bottom: 1em; 
        }
    }
    i{
        width: 100%;
        margin: 0;
        font-size: 4em;
        color: white;
    }
}

@mixin info-section(){
    width: 8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        cursor: pointer;
        font-size: 2.5em;
    }
    &--top{
    }

    &--bottom{
    }
}

// .main{
//     display: block !important;
//     // align-items: center;
//     background: red;
//     // overflow: auto !important;
//     overflow: hidden !important;

// }

// .container{
//     width: 800px;
//     // height: 500px;
//     // background-color: skyblue;
//     margin: 0 auto;
//     margin-top: 3em;
//     // display: flex;
//     // flex-wrap: wrap;
//     position: relative;

// }

.positioner{
    width: 100%;
    height: 180px;
    // background: red;
    display: flex;
    justify-content: space-between;
    &--top{
        // background: blue;

    }

    &--bottom{
        // background: green;
        margin-top: 4em;
    }

    &__box{
        width: 350px;
        border-radius: 4em;
        background: #68C16F;
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
        overflow: hidden;
        transition: box-shadow 0.5s;
        &:hover{
            box-shadow: 0px 3px 25px -2px rgba(0,0,0,0.2),0px 10px 10px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);

        }
        
        &__leftColumn{
            // background: red;
            display: flex;
            justify-content: space-between;
            &__leftSide{
                @include data-section();
            }

            &__rightSide{
                @include info-section();
            }

        }

        &__rightColumn{
            // background: red;
            display: flex;
            justify-content: space-between;
            &__leftSide{
                // background: green;
                @include info-section();
            }
            &__rightSide{
                // width: 6em;
                // background: blue;
                @include data-section();
                margin-right: 4em;
            }
        }
    }

}

.oval{
    width: 600px;
    height: 600px;
    background: #E44C37;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    clip-path: ellipse(23% 15% at 50% 50%);
    z-index: 100;
    &__border{
        width: 650px;
        height: 650px;
        background: #F2F7FA;
        z-index: 50;
    }
}